.slider{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1000px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li{
  width: fit-content;
  height: fit-content;
}

li img{
  /* height: 150px; */
  border-radius: 5% / 3%;
  border: 1px solid rgb(238, 255, 255);
  position: relative;
}

.slider-prev,
.slider-next{
  height: fit-content;
  background-color: inherit;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  
}

.slider-prev{
  position: absolute;
  left: 220px;
  top: 390px;
}

.slider-next{
  position: absolute;
  left: 850px;
  top: 390px;
}

.slider-prev::before{
  content: '<';
  margin-right: 15px;
  
}

.slider-next::before{
  content: '>';
  margin-left: 15px;
}

.description{
  position: relative;
  top: 350px;
}

.description h3{
  text-transform: capitalize;
  display: none;
}

h3.active{
  display: block !important;
}

.item {
  flex: 1 0 20%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.small1, .small2 {
  height: 200px;
  position: absolute;
  z-index: -1;
  top: 320px;
}

.big1, .big2 {
  height: 250px;
  position: absolute;
  z-index: 0;
  top: 290px;
}

.small1{
  left: 270px;
}

.big1{
  left: 350px;
}

.focus {
  position: absolute;
  z-index: 1;
  height: 300px;
  left: 450px;
  top: 260px;
}

.big2{
  left: 580px;
}

.small2{
  left: 700px;
}