.slider,
ul,
li,
.description{
  background-color: transparent;
}

.slider{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 1000px;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li{
  width: fit-content;
  height: fit-content;
}

li img{
  height: 150px;
  border-radius: 5% / 3%;
  border: 1px solid rgb(238, 255, 255);
  position: relative;
}

.slider-prev,
.slider-next{
  height: fit-content;
  background-color: inherit;
  font-size: 30px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  
}

.slider-prev{
  transform: translateX(100px);
}

.slider-next{
  transform: translateX(-100px);
}

.slider-prev::before{
  content: '<';
  margin-right: 15px;
  
}

.slider-next::before{
  content: '>';
  margin-left: 15px;
}

.description{
  margin-top: 25px;
}

.description h3{
  text-transform: capitalize;
  display: none;
}

h3.active{
  display: block !important;
}

/* img.active{
  height: 300px;
  transform: 'translateX(' + (-4 * 100) + 'px)';
  z-index: 20;
} */