/* Add a black background color to the top navigation */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .description {
    background-color: rgb(105, 105, 168);
    overflow: hidden;
  }

 .btn{
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px ;
    background-color: #04AA6D;
    color: #fff;
    font-weight: bold;
    border: 1px solid #04855e;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 250px;
 }

 .btn:hover {
    background-color: #04855e;
  }

  .categories-path{
    padding: 10px 250px 50px;
  }

  .course-name{
    font-size: 24px;
    font-weight:bold;
    padding: 0px 250px 20px ;

  }
  .course-description {
    padding: 0px 250px 10px;
    word-wrap: break-word;
    max-width: 500px; /* Adjust this value as needed */
}

.course-description::after {
    display: inline;
}

.course-teacher{
    padding: 0px 250px 10px;
    color: rgb(0, 1, 1);
}

.course-teacher a {
    color: rgb(124, 117, 255);
    text-decoration: underline;
}

.course-rating{
    padding: 0px 250px 10px;
}
.checked{
    color: orange;
}

.course-language{
    padding: 0px 250px 20px;
}

.course-type{
    padding: 0px 250px 20px;

}

.secondary-description{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 90px 250px;
    color: black;
}

.what-you-ll-learn{
    font-size: 24px;
    font-weight:bold;
}

/*vgazei to dot sthn lista */

.course-goals ul {
    list-style-type: none;
}

.course-goals li{
    padding:10px
}

.navbar-footer {
    background-color: #6a73a9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar-text {
    font-size: 20px;
    font-weight: bold;
  }
  