/*------------------ Home Page ------------------*/

nav ul .dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color:  var(--main-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px  rgb(255, 255, 255);
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid #333;
}

.dropdown-content li {
    display: block;
    margin-bottom: 10px;
  }
  
  .dropdown-content li:last-child {
    margin-bottom: 0;
  }
  
  .dropdown-content li a {
    color: #333;
    font-size: 16px;
    text-decoration: none;
  }

  .fas{
    margin-right: 10px;
  }

  .dropdown-menu:hover .dropdown-submenu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}



/*------------------ Home Page ------------------*/

.home,
.home-popular,
.home-header,
.home-popular h3{
    width: fit-content;
}


h1{
    background-color: inherit;
}

.home{
    display: flex;
    flex-direction: row;
}

.home-popular{
    padding: 25vh 8vw 15vh 3vw;
}

.home-popular h3{
    text-transform: capitalize;
    margin: auto;
    margin-bottom: 25px;
    font-size: 30px;
}

.home-header{
    padding: 35vh 13vw 15vh 3vw;
    text-align: center;
    text-transform: capitalize;


    /*--Divide Text Into 3 Lines--*/
    display: -webkit-box; /* Set the display property to -webkit-box to enable old WebKit syntax */
    -webkit-box-orient: vertical; /* Set the box-orient property to vertical to make sure the content is arranged vertically */
    /* overflow: hidden; Hide any text that overflows the block */
    text-overflow: ellipsis; /* Add an ellipsis at the end of the last visible line */
    -webkit-line-clamp: 3; /* Set the maximum number of lines to three */
    /* The above line is the shorthand version of the following three properties:
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box; */
      
}

.home-header h1{
    font-size: 80px;
}

/*---page1 easyCourse Feautures----------DEN emfanizete opws prepei, sou eixa steile mia eikona sto discord gia to pws einai. to vlepoume na doume ti fteei!----------------------*/

#features{
  padding: 5px 10px 0 10px;
  text-align: center;
  /* background-color: #d8dddd; */
  margin-top: 300px;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;

}

#features .fea-box {                     
    background: rgb(247, 236, 236);
    text-align: start;
}

#features .fea-box i{
    font-size: 2.5rem;
    color: rgb(233, 223, 223) ;
    text-align: center;
   
}

#features .fea-box h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(75, 72, 72) ;
    padding: 13px 0 7px 0;
}

#features .fea-box p{
    font-size: 1.rem;
    font-weight: 400;
    color: rgb(75, 72, 72) ;
}


/* ------------filter buttons START----------*/

.button-group {
  display: flex;
  margin-left: 28%;
  margin-top: -100px;
}

.button {
  color: #666;
  border:  2px solid rgb(0, 255, 255);
  border-radius: 10px;
  background-color: rgb(238, 255, 255)ite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  padding: 8px 32px 8px 16px;  
  cursor: pointer;
  width: 280px;
  height: 70px;
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.button:hover {
  background-color: rgb(178, 240, 240);
  color: black;
}

.button .remove-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.button .remove-icon:hover {
  color: rgb(0, 255, 255);
  transition: color 0.1s ease-in;
}

/* ------------filter buttons END----------*/


/* ------------courses result START----------*/

  .packages {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 650px;
  }

  .box {
    background-color:  rgb(238, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 5%;
    width: 40%;
    height: 40%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .box:hover {
    transform: translateY(-10px);
  }

  .box .image {
    height: 200px;
    overflow: hidden;
  }

  .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .box .content {
    padding: 20px;
    text-align: left;
  }

  .box .content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .box .content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }

  .box .content .course-time {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
  }

  .box .content .price {
    font-size: 24px;
    color: #008080;
    margin-bottom: 10px;
  }

  .box .content .btn {
    display: inline-block;
    background-color: #008080;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .box .content .btn:hover {
    background-color:#333;
  }

  .professor-name {
    font-size: bold;
    font-size: 17px;
    cursor: pointer;
  }

/* ------------courses result END----------*/